<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: head"></head>

<body>
	<header th:include="layout/header :: header"></header>
	
	<main class="container my-5">
		<div class="row">
			<div class="col-sm mx-auto">
				<!-- enctype : 서버로 데이터 전송 시 전송되는 데이터의 유형을 표시하는 속성 -->
				<!-- 기본값 application/x-www-form-urlencoded -->
				<!-- enctype="multipart/form-data" 입력 시 문자 데이터와 바이너리 데이터가 함께 서버로 전송됨 -->
				<!-- 파일 전송 시 반드시 multipart/form-data가 필요함 -->
				<form action="/board/insertBoard.do" th:action="@{/board/insertBoard.do}" method="post" enctype="multipart/form-data">
					<div class="my-3">
						<label for="title" class="form-label">제목 : </label>
						<input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요">
					</div>
					<div class="my-3">
						<label for="creator-id" class="form-label">사용자 ID : </label>
						<input type="text" class="form-control" id="creator-id" name="creatorId" placeholder="ID를 입력하세요">
					</div>
					<div class="my-3">
						<label for="contents" class="form-label">내용 : </label>
						<textarea rows="5" class="form-control" id="contents" name="contents"></textarea>
					</div>
					<div class="my-3">
						<label for="files">파일 : </label>
						<!-- input 태그의 multiple 속성은 파일의 다중 선택 기능 -->
						<input type="file" class="form-control" id="files" name="files" multiple>
					</div>
					<div class="my-3 clearFix">
						<button type="button" class="btn btn-secondary float-start" id="btn-list">목록으로</button>
						<button type="submit" class="btn btn-primary float-end">등록</button>
						<button type="reset" class="btn btn-warning float-end me-3" id="btn-cancel">취소</button> 
					</div>
				</form>
			</div>
		</div>
	</main>
	
	<footer th:replace="layout/footer :: footer"></footer>
	
	<script>
		window.addEventListener("DOMContentLoaded", function() {
			var btnList = document.querySelector("#btn-list");
			var btnCancel = document.querySelector("#btn-cancel");
			
			btnList.addEventListener("click", function() {
				history.back();
			});
			
			btnCancel.addEventListener("click", function() {
				history.back();
			});
		});
	</script>
</body>
</html>