<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Main 영역</title>
</head>
<body>
	<table th:fragment="main" class="table table-hover table-striped">
		<thead>
			<tr>
				<th>순번</th>
				<th>이름</th>
				<th>직업</th>
				<th>성별</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>아이유</td>
				<td>가수</td>
				<td>여성</td>
			</tr>
			<tr>
				<td>2</td>
				<td>유인나</td>
				<td>배우</td>
				<td>여성</td>
			</tr>
			<tr>
				<td>3</td>
				<td>유재석</td>
				<td>방송인</td>
				<td>남성</td>
			</tr>
		</tbody>
	</table>
</body>
</html>