<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>header 영역</title>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark px-3">
			<a href="#" class="navbar-brand">logo</a>
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a href="#" class="nav-link active">메뉴1</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link active">메뉴2</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link active">메뉴3</a>
				</li>
			</ul>
			<div >
				<a href="#" class="btn btn-outline-primary">로그인</a>
			</div>
		</nav>
		
		<div class="container p-5 mt-4 bg-primary bg-opacity-25 rounded">
			<h1 class="text-center">게시판 목록 페이지</h1>
		</div>
	</header>
</body>
</html>